{% extends "base.html" %}

{% block content %}
<h2>{{ survey.title }}</h2>
<p>{{ survey.description }}</p>

<form id="surveyForm">
    {% for question in survey.questions %}
    <div class="question">
        <p><strong>{{ loop.index }}. {{ question.text }}</strong></p>

        {% if question.type == 'multiple' %}
            {% for option in question.options %}
            <label>
                <input type="radio" name="q_{{ question.id }}" value="{{ option }}">
                {{ option }}
            </label><br>
            {% endfor %}
        {% elif question.type == 'text' %}
            <textarea name="q_{{ question.id }}" rows="3" cols="50"></textarea>
        {% elif question.type == 'checkbox' %}
            {% for option in question.options %}
            <label>
                <input type="checkbox" name="q_{{ question.id }}" value="{{ option }}">
                {{ option }}
            </label><br>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% endfor %}

    <div class="buttons">
        <a href="{{ url_for('view_surveys') }}" class="back-button">← Back to Surveys</a>
        <button type="button" id="draftBtn">Save Draft</button>
        <button type="submit" id="submitBtn">Send Survey</button>
    </div>
</form>

<script>
  const survey = JSON.parse('{{ survey|tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='js/survey_detail.js') }}"></script>


{% endblock %}
